
header h1 {
    background: #3B6DC3;
    background: linear-gradient(to right, #3B6DC3, #303F90, #230555);
    text-align: center;
    color: white;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}


.dashboard {
    float: left;
}

.search {
    padding: 10px;
}

.search h2 {
    padding: 10px;
    margin: 10px;
    font-style: bold;
    font-family: 'Times New Roman', Times, serif;
}
.searchBar {
    padding: 10px;
    margin: 10px;
    width: 100%;
    border-radius: 5px;
}

.searchBtn {
    background: #5CB3FF;
    color: white;
    padding: 10px;
    margin: 10px;
    width: 100%;
    border-radius: 5px;
}


.card-body.fiveDisplay {
    background-color: #33475A;
    color: white;
    height: 220px;
    width: 185px;
    border: solid 1px black;
}

.currentWeather, .weekForecast {
    display: none;
}

.card.fiveStack {
    border: none;
}

.main {
    float: left;
    padding: 50px;
}

.uviText {
    background-color: #157E51;
    border-radius: 0.25rem;
}

#citySearched {
    border-top: #606060 1px solid ;
    margin: 12px;
}

ul {
    list-style: none;
}

li {
    background-color: #B7B7B7;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: #1C1C1C;
    width: 300px;
}

li::first-letter {
    text-transform: uppercase;
}